@import '@/style/variables.scss';

.container {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    font-size: 1rem;
    margin-top: 1.4rem;

    color: $color-gray;

    font-family: $font-wanted;
}